<div class="col-lg-12">
    <div class="container m-4">
    
        <div class="jumbotron">
            <h1 class="display-4">Bievenido a la galaria de peliculas</h1>
            <p class="lead">Aquí encontraras la información de tus peliculas favoritas que necesites.</p>
            <hr class="my-4">
            <p>Tenemos las mas actualizadas del 2020 !!</p>
            <a [routerLink]="['/pelicula-cab']" class="btn btn-primary btn-lg" role="button" router>Ver Peliculas</a>
        </div>
    </div>
</div>
